<form [formGroup]="forma">
    <select formControlName="ciudad" [(ngModel)]="selectedValue" (change)="ciudadActiva(selectedValue)" >
      <option value="1" selected="selected">Seleccione una ciudad</option>
      <option *ngFor="let c of ciudades" [ngValue]="c.id">
          {{c.name}}
      </option>
    </select>
  </form>

{{selectedValue}}

<div class="container">
    <div class="row">
      <div class="col" *ngFor="let e of arregloEmisora">
          <img [src]="e.urlImg" alt="" (click)="cargarEmisora(e)"   class="img-thumbnail" >
          <h5>{{e.site}}</h5>

      </div>
  </div>

  <h1>{{urlStream}}</h1>

  <div style=" height:470px; padding-bottom: 0px;" *ngIf="urlStream">
      <audio id="vapWagner" [src]="urlStream" controls autoplay  width="100%" height="270" >
      </audio>
    </div>
</div>

<!-- Ultima hora  -->
<div class="row">
        <div class="card-group">
            <div class="card" style="width: 20rem;" *ngFor="let data of arregloNoticias" >
                    <img class="card-img-top" [src]="data.urlImg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">{{data.titulo}}</h4>
                      <p class="card-text">{{data.teaser}}</p>
                      <a [href]="data.urlNoti" class="btn btn-primary" target="_blank">Ver más</a>
                    </div>
                  </div>
    </div>
</div>
